* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    filter: unset;
}

/* --- LANDINGS PAGE ---  */

body {
    width: 100vw;
    height: 100vh;
    /* overflow: scroll; */
}
/* background img */
body > div:first-child{
    background-image: url('/eindopdracht/img/dan-gold-E6HjQaB7UEA-unsplash.jpg');
    filter: grayscale(100%);
    background-repeat: no-repeat;
    object-fit: fill;
    background-blend-mode: saturation;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    z-index: -999;
    
}

/* --- BEGIN HEADER ---  */ 
body > header {

    width: 45vw;
    height: 30vh;
    margin-left: -200px;

}

header section{
    width: 350px;
    display: block;
    margin: 0 200px;
    position: fixed;

    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    margin: 50px 0 0 20px;
    letter-spacing: 1.2px;

}

h1 span {
    background-color: rgba(0, 0, 0, 0.685);
    height: 40vh;
    width: 60vw;
    padding: 0 10px;

}
/* triangle */
h1::after {
    clip-path: polygon(100% 80%, 0 80%, 50% 0);
    background-color: rgba(0, 119, 255, 0.534);
    content: "";
    width: 9.7em;
    height: 6.3em;
    display: inline-block;
    margin: -4.8em 0 0 -3.7em;
    position: fixed;
    transform: rotate(180deg);
    z-index: -99;

}
/* circle */
main > div::before {
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(255, 0, 0);
    content: "";
    width: 65em;
    height: 65em;
    display: inline-block;
    mix-blend-mode: screen;
    position: fixed;
    top: -11em;
    right: -10em;
    z-index: -99;



}
/* tagline */
header:nth-child(2) section p  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 20px 0 0 40px;
    letter-spacing: 1.5px;


}
/* --- EINDE HEADER --- */

/* --- EINDE LANDINGSPAGE ---*/


/* 
Zorgen dat de <dl> en <dd> verdwijnen tot click en/of hover
bron: https://css-tricks.com/solved-with-css-dropdown-menus/ */
main  {
    display: flex;
    width: 75vw;
    height: 80vh;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    margin:  0 0  5rem;
     
}

main section  {
    width: 500px;
    margin-top: 40px;
    margin-bottom: 30px;
    transform: rotate(45deg);
    
}
main section:hover{
    background-color: rgba(65, 139, 87, 0.779);
    padding: 20px;
    margin: -20px 0 50px;

}

main section h2{
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    
}

main section header p {
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
main section h2 a:hover {
    cursor: pointer;
    font-weight: 800;  
    
}


main section dl, blockquote {
    opacity: 0;
    display: none;

}

main section:hover > dl{
    opacity: 1;
    display: block;
    font-size: 1.3em;  
    margin-left: -20px;
    mix-blend-mode: screen;
    height: auto;

}

main section dl > div{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 400px;
}

main section dl dt {
    font-weight: 800;
    text-transform: capitalize;
}
main section > dl::before{
    clip-path: polygon(100% 80%, 0 80%, 50% 0);
    transform: rotate(180deg);
    content: "";
    background-color: rgba(115, 47, 241, 0.651);
    width: 300px;
    height: 300px;
    position: fixed;
    margin-top: -130px;
    mix-blend-mode: screen;
    z-index: -99;

}
/* http://thenewcode.com/482/Placing-Text-on-a-Circle-with-SVG */

/* RESPONSIVE */
@media only screen and (max-width: 600px) {

   
    h1{
        font-size: 2.5em;
        margin: 1em 0 0 1.5em;

    }

    h1::after {
        width: 4em;
        position: fixed;
        top: 0;
        left: 0;
        height: 4em;
        margin: 0 0 0 20px;
        transform: rotate(90deg);
   
    }
    /* main > div::before {
        width: 3em;
        height: 3em;
    } */

    main section {
        transform: rotate(0);
        width: 300px;
        text-align: center;
        z-index: -9;
    }
    main section > dl::before{
        width: 200px;
        height: 200px;
        margin: -5em 0 0 -4em;
    }
    main section h2{
        font-size: 2em;
        padding: 10px;
        
    }
    main section header p{
        font-size: 1em;
    }

    body > header {
        height: 170px;
        z-index: 999;
    }
    header:nth-child(2) section p  {
        font-size: 1em;
        margin: 0.5em 0 0 4em;
    }
    
    main {
    width: 100vw;
    height: 70vh;  
    flex-wrap: wrap;
    overflow-y: scroll;
    
    }

    main section dl > div{
        width: 230px;
        font-size: 0.8em;
        margin: 30px;
        
    }


}

@media only screen and (min-width: 600px) {
    main {
        flex-wrap: wrap;
        width: 85vw;
        margin: 0 auto;
    }
    main section {
        transform: rotate(0);
        width: 350px;
        
    }
    body > header {
        z-index: 99;
    }
}

@media only screen and (min-width: 768px){
        main {
        flex-wrap: wrap;
        margin: 40px auto;
        overflow: scroll;
        height: 65vh;
    }
    main section {
        transform: rotate(0);
        
    }
        body > header {
        height: 30vh;
        z-index: 999;
    }
}


@media only screen and (min-width: 1750px){
    main  {
    display: flex;
    width: 95vw;
    height: 80vh;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
     
    }

    main section  {
    width: 500px;
    margin-top: 40px;
    margin-bottom: 30px;
    transform: rotate(45deg);
    
    }
}

