* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    filter: unset;
}

body {
    width: 100vw;
    height: 100vh;

}
/* background img */
body > div:first-child{
    background-image: url('../img/dan-gold-E6HjQaB7UEA-unsplash.jpg');
    filter: grayscale(100%);
    background-repeat: no-repeat;
    object-fit: fill;
    background-blend-mode: saturation;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    z-index: -999;
    
}

/* 
====================================   
        --- BEGIN LOGO ---  
===================================*/ 
body > header {
    
    width: 45vw;
    height: 30vh;
    margin-left: -200px;

}

header section{
    width: 350px;
    display: block;
    margin: 0 200px;
    position: fixed;

    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    margin: 50px 0 0 20px;
    letter-spacing: 1.2px;

}

h1 span {
    background-color: rgba(0, 0, 0, 0.685);
    height: 40vh;
    width: 60vw;
    padding: 0 10px;

}
/* triangle */
h1::after {
    clip-path: polygon(100% 80%, 0 80%, 50% 0);
    background-color: rgba(0, 119, 255, 0.534);
    content: "";
    width: 9.7em;
    height: 6.3em;
    display: inline-block;
    margin: -4.8em 0 0 -3.7em;
    position: fixed;
    transform: rotate(180deg);
    z-index: -99;

}
/* circle */
main > div::before {
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(255, 0, 0);
    content: "";
    width: 65em;
    height: 65em;
    display: inline-block;
    mix-blend-mode: screen;
    position: fixed;
    top: -11em;
    right: -10em;
    z-index: -99;



}
/* tagline */
header:nth-child(2) section p  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 20px 0 0 40px;
    letter-spacing: 1.5px;


}
/* ============================================
            --- EINDE LOGO ---
 ============================================== */





/*
================================================
               RADIO BTN HACK
================================================

Zorgen dat de <dl> en <dd> verdwijnen tot click
bron: https://css-tricks.com/solved-with-css-dropdown-menus/ */


section input[type='radio'] {
opacity: 0;
}

section input[type='radio']:checked + dl {
    opacity: 1;
    display: block;
    animation: open 1s ;
    animation-fill-mode: forwards;
}

section label {
    cursor: pointer;
}

section label h2:hover{
    background-color: rgba(122, 129, 124, 0.651);
    zoom: 1.2;
    transition:  ease-in-out;
}
@keyframes open {
        
    to{
        transform: rotate(-45deg);
        margin-left: 300px;
    }
        
}
main  {
    display: flex;
    width: 75vw;
    height: 80vh;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    margin:  0 0  5rem;
    overflow: scroll;
     
}

main section  {
    width: 500px;
    margin-top: 40px;
    margin-bottom: 30px;
    transform: rotate(45deg);
    
}


/* bron onderstaande animatie: https://codinhood.com/micro/10-dropdown-menu-animations-css-transform */
@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg)
  }
  70% {
    transform: rotateX(20deg)
  }
  100% {
    transform: rotateX(0deg)
  }
}

main section h2{
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    
}

main section header p {
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 20px;
    
}

main section h2 a:hover {
    cursor: pointer;
    font-weight: 800;  
    
}


main section dl, blockquote {
    opacity: 0;
    display: none;

}

main section dl > div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 350px;
    height: auto;
    background-color: rgba(65, 139, 87, 0.779);
}

main section dl dt {
    font-weight: 800;
    text-transform: capitalize;
}
main section > dl::before{
    clip-path: polygon(100% 80%, 0 80%, 50% 0);
    transform: rotate(180deg);
    content: "";
    background-color: rgba(115, 47, 241, 0.651);
    width: 300px;
    height: 300px;
    position: fixed;
    margin-top: -130px;
    mix-blend-mode: screen;
    z-index: -99;

}


/* http://thenewcode.com/482/Placing-Text-on-a-Circle-with-SVG */

/*====================================
             RESPONSIVE
======================================= */

/*MAX 600 PX*/
@media only screen and (max-width: 600px) {

   
    h1{
        font-size: 2.5em;
        margin: 1em 0 0 1.5em;

    }

    h1::after {
        width: 4em;
        position: fixed;
        top: 0;
        left: 0;
        height: 4em;
        margin: 0 0 0 20px;
        transform: rotate(90deg);
   
    }


    main section {
        transform: rotate(0);
        width: 300px;
        /* text-align: center; */
    
    }
    
    main section > dl::before{
        width: 200px;
        height: 200px;
        margin: -5em 0 0 2em;
               
    }
    main section h2{
        font-size: 2em;
        padding: 10px;
        
    }
    main section header p{
        font-size: 1em;
    }

    body > header {
        height: 170px;
        z-index: 999;
    }
    header:nth-child(2) section p  {
        font-size: 1em;
        margin: 0.5em 0 0 4em;
    }
    
    main {
    width: 100vw;
    height: 80vh;  
    flex-wrap: wrap;
    overflow-y: scroll;
    
    }

    main section dl > div{
        width: 260px;
        font-size: 0.8em;
        padding: 10px;
        height: auto;
        margin-left: 20px;
        
    } 


}

/*MIN 600 PX*/
@media only screen and (min-width: 600px) {
    main {
        flex-wrap: wrap;
        width: 85vw;
        margin: 0 auto;
    }
    main section {
        transform: rotate(0);
        width: 350px;
        
    }
    body > header {
        z-index: 99;
    }
}
/*MIN 768 PX*/
@media only screen and (min-width: 768px){
        main {
        flex-wrap: wrap;
        margin: 40px auto;
        overflow: scroll;
        height: 65vh;
    }
    main section {
        transform: rotate(0);
        
    }
        body > header {
        height: 30vh;
        z-index: 999;
    }
}

/*MIN 1750 PX*/
@media only screen and (min-width: 1750px){
    main  {
    display: flex;
    width: 80vw;
    height: 80vh;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
    margin: -20px 0 0 50px;
     
    }

    main section  {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: rotate(45deg);
    
    }




    main section > dl::before{
        margin-left:30px ;
    }

}

/*
================================================
               PRINT STYLE SHEET
================================================
*/



